#header {
  background-color: #6c757d;
  display: flex;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav-button {
  width: inherit;
  height: inherit;
  font-weight: 900;
}

#footer{
  background-color: #6c757d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  position: fixed;
  bottom: 0;
}

.contact{
  width: 10vh;
  height: 10vh;
}

@media ( max-height: 350px ) {
  #footer{
    width: 100%;
    height: 40px;
  }
  .contact{
    width: 35px;
    height: 35px;
  }
  #header {
    width: 100%;
    height: 40px;
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main-content-home {
  color:azure;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#main-content-about {
  color:azure;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
}

#main-content-skills {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15vh;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
}

#main-content-project {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

#eu{
  width: 250px;
  border-radius: 50%;
  margin-bottom: 10vh;
  border-style: outset;
}


#about-text{
  width: 50%;
  padding: 0;
  text-align: center;
  background-color: #6c757d;
  font-family: monospace;
  font-weight: 600;
  font-style: oblique;
  border-radius: 3%;
  padding: 10px;
  border-style: outset;
}

@media ( max-width: 1000px ) {
  #about-text{
    width: 80%;
    padding: 0;
    text-align: center;
  }
}

#email {
  color:aliceblue;
  font-size: 100%;
  font-weight: 900;
}

@media ( max-width: 400px) {
  #email {
    color:aliceblue;
    font-size: 80%;
    font-weight: 900;
  }
}


#about-text p {
  margin: 0;
}



.card {
  width: 18rem;
  margin: 10px;
  background-color: white;
}

#card-img {
  width: 230px;
  height: 230px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10%;
  border-style: groove;
}

.card-body {
  border-style: ridge;
  background-color: darkgray;
  border-radius: 10%;
  margin: 10px;
  border-color: darkgray;
}

.card-title {
  font-weight: 800;
}

.card-text {
  font-family: monospace;
}

.project-card-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: inherit;
}

.project-card-button a {
  text-align: center;
  width: 30%;
}