#header {
  display: flex;
  width: 100%;
  height: max-content;
}

.nav-button {
  width: inherit;
  height: 5vw;
}


@media ( max-width: 700px ) {
  .nav-button {
    width: inherit;
    height: 40px;
  }
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

#main-content-home {
  background: linear-gradient(0, #120c56, #000000);
  color:azure;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stars{
	width: 3px;
	height: 3px;
	border-radius: 50%;
}
